<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Björn Richter is a berlin based UX/UI designer and frontend developer with passion for software interfaces, the web and typography.">
    <meta name="author" content="Björn Richter">
    <meta name = "format-detection" content = "telephone=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Björn Richter – Digital Product Designer and Frontend Developer" %></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,800" rel="stylesheet">
  </head>
  <body class="<%= current_page.data.body_class || 'standard' %>">
    <header>
      <%= partial "partials/header" %>
    </header>
    <main>
      <%#= partial "partials/grid_lines" %>
      <%= yield %>
    </main>
    <footer>
      <%= partial "partials/footer" %>
    </footer>
  </body>
</html>
