<section class="bg-grey-pastel">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center text-center case-title">
      <h2 class="cell medium-10">Alchemy CMS UI redesign and implementation</h2>
    </div>
    <div class="grid-x grid-padding-x align-center case-pictures">
      <div class="cell medium-11 large-10">
        <div class="carousel">
          <div>
            <div class="grid-x align-center align-middle grid-padding-y">
              <div class="cell small-5 large-4 secondary-image">
                <%= image_tag 'alchemy/alchemy-pages-1-old.jpg' %>
              </div>
              <div class="cell small-6 large-5 primary-image">
                <%= image_tag 'alchemy/alchemy-pages-1-new.jpg' %>
              </div>
            </div>
          </div>
          <div>
            <div class="grid-x align-center align-middle grid-padding-y">
              <div class="cell small-6 large-5 primary-image">
                <%= image_tag 'alchemy/alchemy-pages-2-new.jpg' %>
              </div>
              <div class="cell small-5 large-4 secondary-image">
                <%= image_tag 'alchemy/alchemy-pages-2-old.jpg' %>
              </div>
            </div>
          </div>
          <div>
            <div class="grid-x align-center align-middle grid-padding-y">
              <div class="cell small-11 medium-9 xlarge-7 secondary-image p-bottom-0">
                <%= image_tag 'alchemy/alchemy-elements-2-old.jpg' %>
              </div>
              <div class="cell medium-11 xlarge-9 primary-image p-top-0">
                <%= image_tag 'alchemy/alchemy-elements-2-new.jpg' %>
              </div>
            </div>
          </div>
          <div>
            <div class="grid-x align-center align-middle grid-padding-y">
              <div class="cell small-5 large-4 secondary-image">
                <%= image_tag 'alchemy/alchemy-elements-1-old.jpg' %>
              </div>
              <div class="cell small-6 large-5 primary-image">
                <%= image_tag 'alchemy/alchemy-elements-1-new.jpg' %>
              </div>
            </div>
          </div>
          <div>
            <div class="grid-x align-center align-middle grid-padding-y">
              <div class="cell small-11 medium-9 xlarge-7 secondary-image p-bottom-0">
                <%= image_tag 'alchemy/alchemy-tags-old.jpg' %>
              </div>
              <div class="cell medium-11 xlarge-9 primary-image p-top-0">
                <%= image_tag 'alchemy/alchemy-tags-new.jpg' %>
              </div>
            </div>
          </div>
          <div>
            <div class="grid-x align-center align-middle grid-padding-y">
              <div class="cell small-11 medium-9 xlarge-7 secondary-image p-bottom-0">
                <%= image_tag 'alchemy/alchemy-pictures-old.jpg' %>
              </div>
              <div class="cell medium-11 xlarge-9 primary-image p-top-0">
                <%= image_tag 'alchemy/alchemy-pictures-new.jpg' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x grid-padding-x align-center case-info">
      <div class="cell medium-4 large-3 text-small">
        <p class="text-small"><small class="text-grey-muted">Context</small><br />2017, Open Source Contribution</p>
      </div>
      <div class="cell medium-8 large-7 text-small">
        <p class="text-small"><small class="text-grey-muted">Project</small><br />Redesign and implementation of the user interface for the open source Rails based Alchemy CMS including new icons, a modern skin and a couple of usability improvements. See my pull request on <%= link_to "github", "https://github.com/AlchemyCMS/alchemy_cms/pull/1261" %></p>
      </div>
    </div>
  </div>
</section>
