<section class="bg-grey-pastel">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center text-center case-title">
      <h2 class="cell medium-10">beyond – One map is not enough.</h2>
    </div>
    <div class="grid-x grid-padding-x align-center case-pictures">
      <div class="cell medium-11 large-10">
        <div class="carousel">
          <div>
            <div class="grid-x align-center">
              <div class="device mobile cell large-3">
                <%= partial 'partials/device_mobile_header' %>
                <div class="device--mobile__image" style="<%= background_image('beyond/beyond-0.png') %>"></div>
                <%= partial 'partials/device_mobile_footer' %>
              </div>
              <div class="device mobile cell large-3">
                <%= partial 'partials/device_mobile_header' %>
                <div class="device--mobile__image" style="<%= background_image('beyond/beyond-1.png') %>"></div>
                <%= partial 'partials/device_mobile_footer' %>
              </div>
              <div class="device mobile cell large-3">
                <%= partial 'partials/device_mobile_header' %>
                <div class="device--mobile__image" style="<%= background_image('beyond/beyond-2.png') %>"></div>
                <%= partial 'partials/device_mobile_footer' %>
              </div>
            </div>
          </div>
          <div>
            <div class="grid-x align-center">
              <div class="device mobile cell large-3">
                <%= partial 'partials/device_mobile_header' %>
                <div class="device--mobile__image" style="<%= background_image('beyond/beyond-3.png') %>"></div>
                <%= partial 'partials/device_mobile_footer' %>
              </div>
              <div class="device mobile cell large-3">
                <%= partial 'partials/device_mobile_header' %>
                <div class="device--mobile__image" style="<%= background_image('beyond/beyond-4.png') %>"></div>
                <%= partial 'partials/device_mobile_footer' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x grid-padding-x align-center case-info">
      <div class="cell medium-4 large-3 text-small">
        <p class="text-small"><small class="text-grey-muted">Context</small><br />2014, Study project</p>
      </div>
      <div class="cell medium-8 large-7 text-small">
        <p class="text-small"><small class="text-grey-muted">Project</small><br />Concept, design, html prototype and user testing of a location based app for closer and farer orientation</p>
      </div>
    </div>
  </div>
</section>
