<section class="bg-blue-pastel">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center text-center case-title">
      <h2 class="cell medium-10">freud website with product finder</h2>
    </div>
    <div class="grid-x grid-padding-x align-center case-pictures">
      <div class="cell medium-11 large-10">
        <div class="carousel">
          <div>
            <div class="device desktop left">
              <%= partial 'partials/device_desktop' %>
              <%= image_tag 'freud/freud1.jpg' %>
            </div>
            <hr />
            <div class="device mobile right">
              <%= partial 'partials/device_mobile_header' %>
              <div class="device--mobile__image" style="<%= background_image('freud/freud-mobile1.jpg') %>"></div>
              <%= partial 'partials/device_mobile_footer' %>
            </div>
          </div>
          <div>
            <div class="device desktop">
              <%= partial 'partials/device_desktop' %>
              <img data-lazy="<%= image_path('freud/freud2.jpg') %>", alt="freud2.jpg">
            </div>
            <hr />
          </div>
          <div>
            <div class="grid-x align-center">
              <div class="device mobile cell large-3">
                <%= partial 'partials/device_mobile_header' %>
                <div class="device--mobile__image" style="<%= background_image('freud/freud-mobile2.jpg') %>"></div>
                <%= partial 'partials/device_mobile_footer' %>
              </div>
              <div class="device mobile cell large-3">
                <%= partial 'partials/device_mobile_header' %>
                <div class="device--mobile__image" style="<%= background_image('freud/freud-mobile3.jpg') %>"></div>
                <%= partial 'partials/device_mobile_footer' %>
              </div>
              <div class="device mobile cell large-3">
                <%= partial 'partials/device_mobile_header' %>
                <div class="device--mobile__image" style="<%= background_image('freud/freud-mobile4.jpg') %>"></div>
                <%= partial 'partials/device_mobile_footer' %>
              </div>
            </div>
          </div>
          <div>
            <div class="device desktop right">
              <%= partial 'partials/device_desktop' %>
              <img data-lazy="<%= image_path('freud/freud3.jpg') %>", alt="freud3.jpg">
            </div>
            <hr />
            <div class="device mobile left">
              <%= partial 'partials/device_mobile_header' %>
              <div class="device--mobile__image" style="<%= background_image('freud/freud-mobile8.jpg') %>"></div>
              <%= partial 'partials/device_mobile_footer' %>
            </div>
          </div>
          <div>
            <div class="device desktop left">
              <%= partial 'partials/device_desktop' %>
              <img data-lazy="<%= image_path('freud/freud4.jpg') %>", alt="freud4.jpg">
            </div>
            <hr />
            <div class="device mobile right">
              <%= partial 'partials/device_mobile_header' %>
              <div class="device--mobile__image" style="<%= background_image('freud/freud-mobile5.jpg') %>"></div>
              <%= partial 'partials/device_mobile_footer' %>
            </div>
          </div>
          <div>
            <div class="device desktop right">
              <%= partial 'partials/device_desktop' %>
              <img data-lazy="<%= image_path('freud/freud5.jpg') %>", alt="freud5.jpg">
            </div>
            <hr />
            <div class="device mobile left">
              <%= partial 'partials/device_mobile_header' %>
              <div class="device--mobile__image" style="<%= background_image('freud/freud-mobile6.jpg') %>"></div>
              <%= partial 'partials/device_mobile_footer' %>
            </div>
          </div>
          <div>
            <div class="device desktop left">
              <%= partial 'partials/device_desktop' %>
              <img data-lazy="<%= image_path('freud/freud6.jpg') %>", alt="freud6.jpg">
            </div>
            <hr />
            <div class="device mobile right">
              <%= partial 'partials/device_mobile_header' %>
              <div class="device--mobile__image" style="<%= background_image('freud/freud-mobile7.jpg') %>"></div>
              <%= partial 'partials/device_mobile_footer' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x grid-padding-x align-center case-info">
      <div class="cell medium-4 large-3 text-small">
        <p class="text-small"><small class="text-grey-muted">Context</small><br />2014, Edenspiekermann</p>
      </div>
      <div class="cell medium-8 large-7 text-small">
        <p class="text-small"><small class="text-grey-muted">Project</small><br />Concept, design and html prototype for a new corporate website including a product finder</p>
      </div>
    </div>
  </div>
</section>
