<section class="bg-purple-pastel">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-margin-y align-center text-center case-title">
      <div class="cell medium-10">
        <h3 class="text-underlined">Kaia.ch content commerce platform</h3>
      </div>
    </div>
    <div class="grid-x grid-padding-x align-center case-pictures">
      <div class="cell medium-11 large-10">
        <div class="carousel">
          <div>
            <div class="device desktop">
              <%= partial 'partials/device_desktop' %>
              <div class="device--desktop__image scroll-image" style="height: 44vw;">
                <img data-lazy="<%= image_path('kaia/kaia1.jpg') %>" alt="kaia1.jpg">
              </div>
            </div>
            <hr />
          </div>

          <div>
            <div class="device desktop left">
              <%= partial 'partials/device_desktop' %>
              <div class="device--desktop__image scroll-image" style="height: 44vw;">
                <img data-lazy="<%= image_path('kaia/kaia2.jpg') %>" alt="kaia2.jpg">
              </div>
            </div>
            <hr />
            <div class="device mobile right">
              <%= partial 'partials/device_mobile_header' %>
              <div class="device--mobile__image scroll-image">
                 <img data-lazy="<%= image_path('kaia/kaia-mobile2.jpg') %>" alt="kaia-mobile2.jpg">
              </div>
              <%= partial 'partials/device_mobile_footer' %>
            </div>
          </div>

          <div>
            <div class="device desktop left">
              <%= partial 'partials/device_desktop' %>
              <div class="device--desktop__image" style="height: 32vw;">
                <img data-lazy="<%= image_path('kaia/kaia3a.jpg') %>" alt="kaia3b.jpg" class="fade-image">
                <img data-lazy="<%= image_path('kaia/kaia3b.jpg') %>" alt="kaia3a.jpg">
              </div>
            </div>
            <hr />
            <div class="device mobile right">
              <%= partial 'partials/device_mobile_header' %>
              <div class="device--mobile__image">
                <img data-lazy="<%= image_path('kaia/kaia-mobile3.jpg') %>" alt="kaia-mobile3.jpg">
              </div>
              <%= partial 'partials/device_mobile_footer' %>
            </div>
          </div>

          <div>
            <div class="device desktop left">
              <%= partial 'partials/device_desktop' %>
              <div class="device--desktop__image scroll-image" style="height: 40vw;">
                <img data-lazy="<%= image_path('kaia/kaia4.jpg') %>" alt="kaia4.jpg">
              </div>
            </div>
            <hr />
            <div class="device mobile right">
              <%= partial 'partials/device_mobile_header' %>
              <div class="device--mobile__image scroll-image">
                <img data-lazy="<%= image_path('kaia/kaia-mobile4.jpg') %>" alt="kaia-mobile4.jpg">
              </div>
              <%= partial 'partials/device_mobile_footer' %>
            </div>
          </div>

          <div>
            <div class="device desktop">
              <%= partial 'partials/device_desktop' %>
              <div class="device--desktop__image scroll-image" style="height: 40vw;">
                <img data-lazy="<%= image_path('kaia/kaia5.jpg') %>" alt="kaia5.jpg">
              </div>
            </div>
            <hr />
          </div>

          <div>
            <div class="device desktop">
              <%= partial 'partials/device_desktop' %>
              <div class="device--desktop__image scroll-image" style="height: 40vw;">
                <img data-lazy="<%= image_path('kaia/kaia6.jpg') %>" alt="kaia6.jpg">
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x grid-padding-x align-center case-info">
      <div class="cell medium-4 large-3 text-small">
        <p class="text-small"><small class="text-grey-muted">Context</small><br />2017, bitspire</p>
      </div>
      <div class="cell medium-8 large-7 text-small">
        <p class="text-small"><small class="text-grey-muted">Project</small><br />Product vision, concept, pitch and visual design for the transformation of the Swiss online shop Kaia.ch into a comprehensive content commerce platform</p>
      </div>
    </div>
  </div>
</section>
