<section class="bg-purple-pastel">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center text-center case-title">
      <h2 class="cell medium-10">Majestic Casual app</h2>
    </div>
    <div class="grid-x grid-padding-x align-center case-pictures">
      <div class="cell medium-11 large-10">
        <div class="carousel">
          <div>
            <div class="grid-x align-center">
              <div class="device mobile cell large-3">
                <%= partial 'partials/device_mobile_header' %>
                <div class="device--mobile__image" style="<%= background_image('majestic/majestic-0.jpg') %>"></div>
                <%= partial 'partials/device_mobile_footer' %>
              </div>
              <div class="device mobile cell large-3">
                <%= partial 'partials/device_mobile_header' %>
                <div class="device--mobile__image" style="<%= background_image('majestic/majestic-1.jpg') %>"></div>
                <%= partial 'partials/device_mobile_footer' %>
              </div>
              <div class="device mobile cell large-3">
                <%= partial 'partials/device_mobile_header' %>
                <div class="device--mobile__image" style="<%= background_image('majestic/majestic-2.jpg') %>"></div>
                <%= partial 'partials/device_mobile_footer' %>
              </div>
            </div>
          </div>
          <div>
            <div class="grid-x align-center">
              <div class="device mobile cell large-3">
                <%= partial 'partials/device_mobile_header' %>
                <div class="device--mobile__image" style="<%= background_image('majestic/majestic-3.jpg') %>"></div>
                <%= partial 'partials/device_mobile_footer' %>
              </div>
              <div class="device mobile cell large-3">
                <%= partial 'partials/device_mobile_header' %>
                <div class="device--mobile__image" style="<%= background_image('majestic/majestic-4.jpg') %>"></div>
                <%= partial 'partials/device_mobile_footer' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x grid-padding-x align-center case-info">
      <div class="cell medium-4 large-3 text-small">
        <p class="text-small"><small class="text-grey-muted">Context</small><br />2014, Edenspiekermann</p>
      </div>
      <div class="cell medium-8 large-7 text-small">
        <p class="text-small"><small class="text-grey-muted">Project</small><br />Visual interface design for a music player app</p>
      </div>
    </div>
  </div>
</section>
