<section class="bg-green-pastel">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-margin-y align-center text-center case-title">
      <div class="cell medium-10">
        <h3 class="text-underlined">Senshemp Online Shop</h3>
      </div>
    </div>
    <div class="grid-x grid-padding-x align-center case-pictures">
      <div class="cell medium-11 large-10">
        <div class="carousel">
          <div>
            <div class="device desktop left">
              <%= partial 'partials/device_desktop' %>
              <%= image_tag 'senshemp/senshemp1.jpg' %>
            </div>
            <hr />
            <div class="device mobile right">
              <%= partial 'partials/device_mobile_header' %>
              <div class="device--mobile__image" style="<%= background_image('senshemp/senshemp-mobile1.jpg') %>"></div>
              <%= partial 'partials/device_mobile_footer' %>
            </div>
          </div>
          <div>
            <div class="device desktop">
              <%= partial 'partials/device_desktop' %>
              <img data-lazy="<%= image_path('senshemp/senshemp2.jpg') %>" alt="senshemp2.jpg">
            </div>
            <hr>
          </div>
          <div>
            <div class="device desktop">
              <%= partial 'partials/device_desktop' %>
              <img data-lazy="<%= image_path('senshemp/senshemp3.jpg') %>" alt="senshemp3.jpg">
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x grid-padding-x align-center case-info">
      <div class="cell medium-4 large-3 text-small">
        <p class="text-small"><small class="text-grey-muted">Context</small><br />2016, bitspire GmbH</p>
      </div>
      <div class="cell medium-8 large-7 text-small">
        <p class="text-small"><small class="text-grey-muted">Project</small><br />Concept and design for a content driven online shop</p>
      </div>
    </div>
  </div>
</section>
