<section class="bg-purple-pastel">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-margin-y align-center text-center case-title">
      <div class="cell medium-10">
        <h3 class="text-underlined">Smart home interface</h3>
      </div>
    </div>
    <div class="grid-x grid-padding-x align-center case-pictures">
      <div class="cell medium-11 large-10">
        <div class="carousel">
          <div>
            <div class="grid-x align-center">
              <div class="device mobile smarthome cell large-3">
                <div class="smarthome-image">
                  <%= image_tag 'smarthome/smarthome-reminder.png' %>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="grid-x align-center">
              <div class="device mobile smarthome cell large-3">
                <div class="smarthome-image">
                  <img data-lazy="<%= image_path('smarthome/smarthome-alert.png') %>" alt="smarthome-alert.png">
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="grid-x align-center">
              <div class="device mobile smarthome cell large-3">
                <div class="smarthome-image">
                  <img data-lazy="<%= image_path('smarthome/smarthome-menu.png') %>" alt="smarthome-menu.png">
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="grid-x align-center">
              <div class="device mobile smarthome cell large-3">
                <div class="smarthome-image">
                  <img data-lazy="<%= image_path('smarthome/smarthome-scene-edit.png') %>" alt="smarthome-scene-edit.png">
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="grid-x align-center">
              <div class="device mobile smarthome cell large-3">
                <div class="smarthome-image">
                  <img data-lazy="<%= image_path('smarthome/smarthome-home.png') %>" alt="smarthome-home.png">
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="grid-x align-center">
              <div class="device mobile smarthome cell large-3">
                <div class="smarthome-image">
                  <img data-lazy="<%= image_path('smarthome/smarthome-temp.png') %>" alt="smarthome-temp.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x grid-padding-x align-center case-info">
      <div class="cell medium-4 large-3 text-small">
        <p class="text-small"><small class="text-grey-muted">Context</small><br />2018, Private project</p>
      </div>
      <div class="cell medium-8 large-7 text-small">
        <p class="text-small"><small class="text-grey-muted">Project</small><br />Design of a smart home interface</p>
      </div>
    </div>
  </div>
</section>
