---
title: Björn Richter – Interface Designer and Frontend Developer
---
<div class="menu-btn-stage hide-for-medium"></div>
<div class="selfie">
  <%= image_tag 'selfie.jpg', :alt => "Selfie" %>
</div>
<section id="about" class="intro grid-container">
  <div class="grid-x grid-padding-x align-center">
    <div class="cell medium-10 large-5 text-center large-text-right">
      <h2 class="like-h3 text-grey">Hi, I'm Björn Richter,</h2>
      <h1 class="text-primary">Full Stack Designer and Frontend Developer based in Berlin.</h1>
    </div>
    <div class="cell medium-8 large-6">
      <p>
        Currently I'm working at <%= link_to 'solarisBank', 'http://solarisbank.com', target: "blank", class: "external" %> in the <%= link_to 'Blockchain Factory', 'https://www.solarisbank.com/en/services/blockchain', target: 'blank', class: "external" %> team. As a designer and frontend developer I'm working on the concept, design and implementation of user interfaces for new financial services, especially in the field of crypto currencies.<br />
        In the past I gained experience in a lot of short and long running projects for bigger and smaller clients at <%= link_to 'bitspire', 'http://bitspire.de', target: 'blank', class: "external" %>, <%= link_to 'Edenspiekermann', 'http://edenspiekermann.de', target: 'blank', class: "external" %> and several other companies. I have a Bachelor's degree in Interface Design from the <%= link_to 'University of Applied Sciences Potsdam', 'https://fh-potsdam.de', target: 'blank', class: "external" %>.<br />My full <%= link_to 'CV', '#cv', class: "scroll-link" %> can be found at the bottom at the bottom.
      </p>
    </div>
  </div>
</section>
<%= partial "partials/projects" %>
<div id="work">
  <%= partial 'partials/cases/smarthome' %>
  <%= partial 'partials/cases/kaia' %>
  <%= partial 'partials/cases/alchemy' %>
  <%= partial 'partials/cases/senshemp' %>
  <%= partial 'partials/cases/freud' %>
  <%= partial 'partials/cases/majestic' %>
  <%= partial 'partials/cases/typo' %>
  <%#= partial 'partials/cases/beyond' %>
  <%= partial 'partials/cases/insufflator' %>
  <%#= partial 'partials/cases/lemke' %>
</div>
<%= partial "partials/skills" %>
<%= partial "partials/cv" %>
<%= javascript_include_tag 'slick'  %>
